body {
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

a {
    text-decoration: none;
}

.button {
    font-size: 14px;
    background-color: #ee3643;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.main-header {
    background-color: #f4f7f9;
}

/*  user меню сайта */

.top-site-menu {
    background-color: #293449;
    font-size: 17px;
}

.top-site-menu a {
    color: #ffffff;
}

/* лого техномарт */

a.logo {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ee3643;
}

a.logo:hover {
    background-color: #ca2c37;
}

a.logo:active {
    background-color: #ba2732;
}

/* поиск */

.form-search {
    font-size: 17px;
}

.search-icon {
    padding: 5px 0px 5px 40px;
    background: #293449 url("../img/icon-search.svg") no-repeat 5% 50%;
    opacity: 0.5;
    border: none;
}

.search-icon:hover {
    background-color: #212a3a;
    opacity: 1;
}

.search-icon:focus {
    background: #ffffff url("../img/icon-search-red") no-repeat 5% 50%;
    opacity: 1;
}

/* закладки*/

a.bookmarks-link {
    font-size: 17px;
    background-color:#293449;
}

a.bookmarks-link:hover {
    background-color: #212a3a;
}

a.bookmarks-link:active {
    opacity: 0.5;
}

/* корзина */

a.basket-link {
    font-size: 17px;
    background-color:#293449;
}

a.basket-link:hover {
    background-color: #212a3a;
}

a.basket-link:active {
    opacity: 0.5;
}

.basket-by {
    background-color: #ee3643;
}
/* оформить заказ*/

a.order-link {
    font-size: 17px;
    background-color: #63a63e;
}

a.order-link:hover {
    background-color: #5fbb2d;
}

a.order-link:active {
    opacity: 0.5;
}

/* описание магазина */

h1.main-description,
p.main-description {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

/* телефон */

a.menu-number-link {
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
}

.menu-number {
    border: 3px solid #FFFFFF;
    display: inline-block;
}

/* адрес */

.menu-address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

/* войти */

.come-in-link {
    font-size: 21px;
    line-height: 21px;
}

a.come-in-link {
    background-color: #ffffff;
    color: #000000
}

a.come-in-link:hover {
    color: #ee3643;
}

a.come-in-link:active {
    opacity: 0.5;
}

/* регистрация */

.registration-link {
    font-size: 21px;
    line-height: 21px;
}

a.registration-link {
    background-color: #ffffff;
    color: #000000
}

a.registration-link:hover {
    color: #ee3643;
}

a.registration-link:active {
    opacity: 0.5;
}

/* Заказы, Личный кабинет*/

.user-cabinet a {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.user-cabinet a:hover {
    color: #ee3643;
}

.user-cabinet a:active {
    opacity: 0.5;
    color: #000000;
}

/* Равшан Джамшутович */

.menu-user {
    background-color: #ffffff;
}

.menu-user a {
    color: #000000;
}

.menu-user a:active {
    opacity: 0.5;
}
/* меню сайта*/

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    opacity: 0.2;
}

/* хлебные крошки */

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #000000;
}

/* Заголовок каталога*/

.perforator {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.headline-catalog {
    background-color: #f2f6f8;
}

/* фильтр товаров */

.filter-generator {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-option {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-button {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.filter-button:hover {
    border: 1px solid #bdc6ca;
}

.filter-button:active {
    border: 1px solid #ee3643;
}

.filter fieldset {
    border: none;
}

.filter ul {
    list-style: none;
}

.filter-input:hover + label {
  color: #b5b5b5;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

/* карточки товара */

.catalog-list {
    list-style: none;
}

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    list-style: 20px;
}

.catalog-old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #999999;
    font-size: 17px;
    text-decoration: line-through;
}

a.button-buy  {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #ee3643;
}


/* блок о компании, контакты */

.info-contacts {
    background-color: #ffffff;
}

.company-headline {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.company-descriptoin {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transport-company {
    line-height: 20px;
    list-style: none;
}

a.more-company {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

a.more-company:hover {
    background-color: #ca2c37;
}

a.more-company:active {
    opacity: 0.5;
}

/* подвал */

.footer-top {
    line-height: 24px;
    color: #ffffff;
    background-color: #32425c;
}

.footer-top a {
    color: #ffffff;
}

/* меню подвал*/

a.footer-link-bottom {
    color: #ffd180;
}

a.footer-link-top:hover,
a.footer-link-bottom:hover {
    text-decoration: underline;
}

a.footer-link-top:active,
a.footer-link-bottom:active {
    text-decoration: none;
    opacity: 0.5;
}

/* подвал низ */

.footer-bottom {
    font-size: 16px;
    color: #ffffff;
    background-color: #293449;
}

.footer-social {
    text-align: center;
}

.footer-social ul{
    list-style-type: none;
}

.footer-social a {
    color: #ffffff;
}

a.feedback {
    color: #ffd180;
}

a.feedback:hover {
    text-decoration: underline;
}

a.feedback:active {
    text-decoration: none;
    color: #ee3643;
}

/* всплывающие окна */

.modal {
    background-color: #ffffff;
}

/* логин, пароль*/

.login-form input[type="text"],
.login-form input[type="password"] {
  font-style: "PT Sans", sans-serif;
  font-size: 13px;
  list-style: 18px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.login-form input:hover {
  border-color: #b5b5b5;
}

.login-form input:focus {
  border-color: #ee3643;
}

/* товар в корзине */

.product-in-basket {
    font-size: 30px;
    line-height: 30px;
}

a.button-order {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

a.button-order:hover {
    background-color: #ca2c37;
}

a.button-order:active {
    opacity: 0.5;
}

a.button-shopping {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.basket-button {
    background-color: #f1f1f1;
}

/* сетка -- сетка -- сетка */

body {

}

.main-header {
    margin-bottom: 60px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-site-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.menu-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
}

.logo {
    width: 220px;
    margin: 0;
    padding: 0;
}
.form-search {
    width: 240px;
    margin: 0;
    padding: 0;
}

.menu-bookmarks,
.menu-basket,
.menu-order,
.menu-buy {
    width: 150px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.site-navigation {
    text-align: center;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation a {
    display: block;
    padding: 19px 33px;
}

.menu-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-description,
.menu-contacts,
.login-wrapper
.login-in-user {
    width: 300px;
    margin-right: 20px;
}

.info-contacts {
    display: flex;
    justify-content: space-between;
}

.company-info {
    width: 540px;
}

.company-headline {
    width: 300px;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 380px;
}

.footer-menu {
    margin-top: 35px;
    width: 570px;
}

.footer-menu-top {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 35px;
    padding: 0;
    list-style: none;
}

.footer-menu-top li {
    width: 560px;
    padding-left: 50px;
}

.footer-menu-bottom {
    display: flex;
    justify-content: flex-end;
}

.footer-menu-bottom li {
    list-style: none;
    padding-left: 50px;
}

.footer-bottom .container {
    display: flex;
}

.protect {
    width: 240px;
    margin: 0;
    margin-right: 140px;
}

.footer-social {
    width: 140px;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    margin-right: 15px;
}

.perforator {
    padding: 30px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filtres {
    width: 220px;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}
